<!--
 * @Author: lizhi.han
 * @Date: 2020-11-27 11:35:05
 * @LastEditTime: 2020-12-01 18:20:50
 * @LastEditors: lizhi.han
 * @Description: 
-->
<div class="logo">logo</div>
<ul nz-menu [nzMode]="isCollapsed?'vertical':'inline'" [nzInlineCollapsed]="isCollapsed" nzTheme="dark">
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: routes }"></ng-container>
    <ng-template #menuTpl let-menus>
      <ng-container *ngFor="let menu of menus">
        <li
          *ngIf="!menu.children"
          nz-menu-item
         
          nzMatchRouter
        >
          <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
          <a  [routerLink]="[menu.path]">{{ menu.title }}</a>
        </li>
        <li
          *ngIf="menu.children"
          nz-submenu
          [nzIcon]="menu.icon"
          [nzTitle]="menu.title"
        >
          <ul>
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-template>
  </ul>